body
{
    background-color: #2b2923;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar
{
    display: flex;
    margin-top: 20px;
}
.imag
{
    margin-left: 230px;
}
.imag img
{
    width: 60%;
}
.nav-right
{
    display: flex;
    margin-left: 150px;
}
.list
{
    display: flex;
    list-style-type: none;
}
.list li
{
    margin-right: 20px;
    font-size: 13px;
    color: #ffffff;
}
.nav-but
{
    padding: 0px 20px;
    height: 40px;
    border: 1px solid #a09036;
    color: #a09036;
    background-color: #2b2923;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 10px;
}
.upper
{
    display: flex;
}
.heading
{
    width: 39%;
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
    margin-left: 230px;
}
.content
{
    color: #ffffff;
    width: 330px;
    margin-top: 70px;
}
.lower img
{
    width: 65%;
    margin-left: 230px;
}